{% extends "layout.html.twig" %}
{% set adminMenu = true %}

{% block title %}Administration{% endblock %}

{% block content %}
<h2 class="text-center">{{ block('title') }}</h2>
{% for flashMessage in app.session.flashbag.get('success') %}
<div class="alert alert-success">
    {{ flashMessage }}
</div>
{% endfor %}

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item " role="presentation">
      <button class="nav-link text-muted active" id="links-tab" data-bs-toggle="tab" data-bs-target="#links" type="button" role="tab" aria-controls="link" aria-selected="true">Liens</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link text-muted" id="users-tab" data-bs-toggle="tab" data-bs-target="#users" type="button" role="tab" aria-controls="profile" aria-selected="false">Utilisateurs</button>
    </li>
  </ul>
  
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active adminTable" id="links">
        <div class="text-center">
            <a href="{{ path('admin_link_add') }}"><button type="button" class="btn btn-secondary mt-4"><i class="bi bi-plus-square"></i> Ajouter un lien</button></a>
        </div>
        {% if links %}
        <div class="table-responsive">
            <table class="table table-hover table-bordered table-condensed bg-light" data-toggle="table" data-pagination="true" data-search="true" data-page-size="8" data-page-list="[8, 15, 25, 50, All]">
                <thead>
                    <tr>
                        <th data-sortable="true" data-field="id">Id</th>
                        <th data-sortable="true" data-field="title">Titre</th>
                        <th data-sortable="true" data-field="author" >Auteur</th>
                        <th>Description</th>
                        <th data-align="center">Actions</th>  <!-- Actions column -->
                    </tr>
                </thead>
                {% for link in links %}
                <tr>
                    <td>{{ link.id }}</td>
                    <td><a class="linkTitle text-dark" href="{{ path('link', { 'id': link.id }) }}">{{ link.title }}</a></td>
                    <td>{{ link.user.username }}</td>
                    <td>{{ link.desc | truncate(60) }}</td>
                    <td class="text-center">
                        <a href="{{ path('admin_link_edit', { 'id': link.id }) }}" class="btn btn-success btn-xs" title="Edit"><i class="bi bi-pencil-square"></i></a>
                        <button type="button" class="btn btn-danger btn-xs" title="Delete" data-bs-toggle="modal" data-bs-target="#linkDialog{{ link.id }}"><i class="bi bi-trash"></i></button>
                        <!-- Modal -->
                        <div class="modal fade" id="linkDialog{{ link.id }}" tabindex="-1" aria-labelledby="deleleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="deleleModalLabel">Confirmation nécessaire</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body text-center">
                                        Voulez-vous vraiment supprimer ce lien ?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                        <a class="btn btn-danger" href="{{ path('admin_link_delete', { 'id': link.id }) }}" role="button">Supprimmer</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Modal end -->
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% else %}
        <div class="alert alert-warning">Aucun lien trouvé.</div>
        {% endif %}
    </div>

    <div class="tab-pane fade adminTable" id="users">
        <div class="text-center">
            <a href="{{ path('admin_user_add') }}"><button type="button" class="btn btn-secondary mt-4 mb-4"><i class="bi bi-plus-square"></i> Ajouter un utilisateur</button></a>
        </div>
        {% if users %}
        <div class="table-responsive">
            <table class="table table-hover table-condensed bg-light" data-toggle="table" data-classes="table-hover">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th data-align="right"></th>  <!-- Actions column -->
                    </tr>
                </thead>
                {% for user in users %}
                <tr>
                    <td>{{ user.username }}</a></td>
                    <td>
                        <a href="{{ path('admin_user_edit', { 'id': user.id }) }}" class="btn btn-success btn-xs" title="Edit"><i class="bi bi-pencil-square"></i></a>
                        <button type="button" class="btn btn-danger btn-xs" title="Delete" data-bs-toggle="modal" data-bs-target="#userDialog{{ user.id }}"><i class="bi bi-trash"></i></button>
                        <!-- Modal -->
                        <div class="modal fade" id="userDialog{{ user.id }}" tabindex="-1" aria-labelledby="deleleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="deleleModalLabel">Confirmation nécessaire</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body text-center">
                                        Voulez-vous vraiment supprimer ce lien ?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                        <a class="btn btn-danger" href="{{ path('admin_user_delete', { 'id': user.id }) }}" role="button">Supprimer</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Modal end -->
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% else %}
        <div class="alert alert-warning">Aucun lien trouvé.</div>
        {% endif %}
    </div>
  </div>

{% endblock %}