{% extends 'layout.html.twig' %}
{% set adminMenu = true %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<h2 class="text-center">Nouveau lien</h2>
{% for flashMessage in app.session.flashbag.get('success') %}
<div class="alert alert-success">
    {{ flashMessage }}
</div>
{% endfor %}

<div class="mt-5">
{{ form_start(linkForm, { 'attr': {'class': 'form-horizontal'} }) }}
    <div class="mt-4">
        {{ form_label(linkForm.url, null, { 'label_attr':  {
            'class': 'col-sm-4 control-label'
        }}) }}
        <div>
            {{ form_errors(linkForm.url) }}
            {{ form_widget(linkForm.url, { 'attr':  {
                'class': 'form-control'
            }}) }}
        </div>
    </div>

    <div class="mt-4">
        {{ form_label(linkForm.title, null, { 'label_attr':  {
            'class': 'col-sm-4 control-label'
        }}) }}
        <div>
            {{ form_errors(linkForm.title) }}
            {{ form_widget(linkForm.title, { 'attr':  {
                'class': 'form-control'
            }}) }}
        </div>
    </div>
    
    <div class="mt-4">
        {{ form_label(linkForm.desc, null, { 'label_attr':  {
            'class': 'col-sm-4 control-label'
        }}) }}
        <div>
            {{ form_errors(linkForm.desc) }}
            {{ form_widget(linkForm.desc, { 'attr':  {
                'class': 'form-control',
                'rows': '8'
            }}) }}
        </div>
    </div>

    <div class="mt-4">
        {{ form_label(linkForm.tags, null, { 'label_attr':  {
            'class': 'col-sm-4 control-label'
        }}) }}
        <div>
            {{ form_errors(linkForm.tags) }}
            {{ form_widget(linkForm.tags, { 'attr':  {
                'class': 'form-control'
            }}) }}
        </div>
    </div>

    <div class="text-center">
        <button type="submit" class="btn btn-md btn-secondary mt-5 mb-5"><i class="bi bi-plus-square"></i> Ajouter un lien</button>
    </div>
{{ form_end(linkForm) }}
</div>
{% endblock %}
